<div class="container">
  <div class="superior">
    <div class="titulo">
      Criar treino
    </div>
    
      <button (click)="fecharCard()" class="button"><i class="ph-light ph-x icon"></i></button>
    
  </div>
  <div class="meio">
    <div class="inputContainer1">
      <div class="nome">
        Nome do treino
      </div>
      <div>
        <input class="input" type="text" placeholder="Ex: Treino de peito">
      </div>
    </div>
    <div class="inputContainer2">
      <div class="nome">
        Descrição do treino
      </div>
      <div>
        <textarea placeholder="Digite a descrição do treino" class="textArea"></textarea>
      </div>
    </div>
  </div>
  <div class="footer">
    
    <div class="botaoContainer">
      <button class="criarBotao">Criar treino</button>
    </div>
  </div>
</div>
