<div class="container">
  <div class="ladoEsquerdo">
    <!-- Em algum outro componente HTML -->
    <app-NavBar
      [menuItems]="[
        { path: '/index', icon: 'house' },
        { path: '/treinos', icon: 'barbell' },
        {path: '/exercicios', icon: 'person-simple-run'},
        {path: '/', icon: 'users'}
      ]"
    ></app-NavBar>
  </div>
  <div class="ladoDireito">
    <div class="containerDireito">
      <div class="tituloContainer">
        <div class="titulo">
          <p>Meus Exercicios</p>
        </div>
        <div class="criarContainer">
          <button class="buttonExercicio">Criar exercicio</button>
        </div>
      </div>
      <div class="cards">
        <app-CardTreinoExercicio></app-CardTreinoExercicio>
      </div>
    </div>
  </div>
</div>
