<div class="container">
  <div class="topoContainer">
    <div class="iconContainer">
      <i class="ph-light ph-barbell iconMuscle"></i>
    </div>
    <div class="dataIcon">
      <i class="ph-light ph-calendar-blank iconData"></i>
      <p class="data">11/12/2023</p>
    </div>
  </div>
  <div class="meioContainer">
    <a href=""><p class="titulo">TREINO DE PEITO</p></a>
  </div>
  <div class="fundoContainer">
    <div class="iconsContainer">
      <a href=""><i class="ph-light ph-pencil-simple iconsAcoes iconPen"></i></a>
      <a href=""><i class="ph-light ph-trash iconsAcoes"></i></a>
    </div>
    <a routerLink="{{router}}">
      
        <button class="button">Ver treino</button>
      
    </a>
  </div>
</div>
