<div class="container">
  
  <div class="nomeContainer">
    <p class="nome">{{NomeUsuario}}</p>
  </div>
  <div class="cargoContainer">
    <p class="cargo">{{CargoUsuario}}</p>
  </div>
 
  <div class="containerInfor">
    <div class="informacoesContainer">
      <div class="informacoes">Peso</div>
      <div class="informacoes">Altura</div>
      <div class="informacoes">Idade</div>
    </div>
    <div class="dadosContainer">
      <div class="dados">{{PesoUsuario}}kg</div>
      <div class="dados">{{AlturaUsuario}}m</div>
      <div class="dados">{{IdadeUsuario}}</div>
    </div>
  </div>
  
</div>