.container{
    width: 350px;
    height: 280px;
    background-color: #006D72;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.329);
}

.nomeContainer{
    margin-top: 50px;
}

.nome{
    font-size: 28px;
    font-weight: 500;
    font-family: 'Roboto';
    color: var(--whiteColor);
}

.cargo{
    font-size: 12px;
    font-weight: 100;
    color: #D3D3D3;
}




.containerInfor{
   
    width: 100%;
    text-align: center;
}

.informacoesContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
   
}

.dadosContainer{
    display: flex;
    justify-content: space-around;
   margin-top: 10px;
   color: var(--whiteColor);
}

.informacoes, .dados{
   
    width: 100px;
}

.informacoes{
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 16px;
    color: #D3D3D3;
}

.dados{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 17px;

}