<div class="container">
  
  <div class="nomeContainer">
    <p class="nome">Aran</p>
  </div>
  <div class="cargoContainer">
    <p class="cargo">Treinador</p>
  </div>
  <table class="tabela">
    <tr class="informacoesContainer">
      <td class="informacoes">Peso</td>
      <td class="informacoes">Idade</td>
      <td class="informacoes">Altura</td>
    </tr>
    <tr class="dadosContainer">
      <td class="dados">1.90m</td>
      <td class="dados">85Kg</td>
      <td class="dados">20</td>
    </tr>
  </table>
  
</div>