<div class="container">
  
  <div class="nomeContainer">
    <p class="nome">Aran</p>
  </div>
  <div class="cargoContainer">
    <p class="cargo">Treinador</p>
  </div>
 
  <div class="containerInfor">
    <div class="informacoesContainer">
      <div class="informacoes">Peso</div>
      <div class="informacoes">Altura</div>
      <div class="informacoes">Idade</div>
    </div>
    <div class="dadosContainer">
      <div class="dados">85kg</div>
      <div class="dados">1.90m</div>
      <div class="dados">20</div>
    </div>
  </div>
  
</div>