<div class="container">
  <div class="ladoEsquerdo">
    <!-- Em algum outro componente HTML -->
    <app-NavBar
      [menuItems]="[
        { path: '/index', icon: 'house' },
        { path: '/treinos', icon: 'barbell' },
        {path: '/exercicios', icon: 'person-simple-run'},
        {path: '/', icon: 'users'}
      ]"
    ></app-NavBar>
  </div>
  <div class="ladoDireito">
    <div class="containerDireito">
      <div class="tituloContainer">
        <div class="titulo">
          <p>Meus Treinos</p>
        </div>
        <div class="criarContainer">
          <button class="buttonCriar">Vincular treino</button>
          <button class="buttonCriar">Criar treino</button>
        </div>
      </div>
      <div class="cards">
        <app-CardTreinos  *ngFor="let treino of treinos, let i = index" [idTreino]="i" router="/treinos/exercicios"></app-CardTreinos>
        
      </div>
    </div>
  </div>
</div>
