<div class="container">
  <div class="ladoEsquerdo">
    <i class="ph-light ph-sign-out iconLogout" (click)="logout()"></i>
    <div class="containerNavBar">
      <nav class="containerNav">
        <a href=""><p class="navTitulo">FF</p></a>
        <ol class="listContainer">
          <li>
            <a href=""><i class="ph-light ph-house icons"></i></a>
          </li>
          <li>
            <a href=""><i class="ph-light ph-barbell icons"></i></a>
          </li>
          <li>
            <a href=""><i class="ph-light ph-person-simple-run icons"></i></a>
          </li>
          <li>
            <a href=""><i class="ph-light ph-users icons"></i></a>
          </li>
          
        </ol>
        <a href="">
          <div class="iconPerfil">
            <i class="ph-light ph-identification-badge perfilIcon"></i>
          </div>
        </a>
      </nav>
    </div>
    
  </div>
  <div class="ladoDireito">
    <div class="containerDireito">
      <div class="tituloContainer">
        <div class="titulo">
          <p>Bem-vindo ao FitFusion</p>
        </div>
      </div>
      <div class="cardsUm">
        <div class="cardNoticias">
          <app-CardNoticias></app-CardNoticias>
        </div>

        <div class="cardPerfil">
          <app-CardPerfil></app-CardPerfil>
        </div>
      </div>
      <div class="cardsDois">
        <app-Card emoji="barbell" titulo="Meus Treinos"></app-Card>
        <app-Card
          emoji="person-simple-bike"
          titulo="Meus Exercícios"
        ></app-Card>
        <app-Card emoji="users" titulo="Meus Alunos"></app-Card>
      </div>
    </div>
  </div>
</div>
