a {
    text-decoration: none;
  }
  .container {
    display: flex;
   
    width: 100%;
    height: 100%;
  }
  
  .icons {
    font-size: 2.5em;
    color: var(--whiteColor);
  }
  
  .listContainer li:hover {
    background-color: rgba(255, 255, 255, 0.38);
  }
  
  .listContainer li {
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    list-style: none;
    margin: 15px;
    cursor: pointer;
    transition: 0.85s;
  }
  
  .perfilIcon {
    font-size: 2.8em;
  }
  .perfilIcon:hover {
    color: #e1e0e0;
  }
  .ladoEsquerdo {
    background-color: var(--whiteColor);
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .containerNavBar {
    background-color: #0b666a;
    width: 60%;
    height: 90%;
    border-radius: 20px;
  }
  
  .navTitulo {
    height: 15%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    align-items: center;
    font-family: "Bebas Neue";
    font-weight: bold;
    color: var(--whiteColor);
  }
  
  .containerNav {
    height: 100%;
  }
  
  .listContainer {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    justify-content: center;
    margin-top: 60px;
  }
  
  .iconPerfil {
    display: flex;
    margin-top: 180%;
    justify-content: center;
    width: 100%;
    color: var(--whiteColor);
    cursor: pointer;
  }
  
  .ladoDireito{
    width: 90%;
    height: 100%;
  }
  
  .containerDireito{
    width: 100%;
    height: 100%;
  }
  
  .tituloContainer{
   
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
  }
  
  .titulo{
    margin-left: 30px;
    margin-top: 50px;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
  }

  .cardsUm{
    display: flex;
    margin-top: 5%;
  }

  .cardNoticias{
    margin: 0px 15% 0px 30px;
  }

  .cardPerfil{
    margin-top: 10px;
  }

  .cardsDois{
    display: flex;
    justify-content: center;
    margin-top: 15%;
  }

  .iconLogout{
    font-size: 2.5em;
    color: var(--blackColor);
    position: absolute;
    right: 50px;
    top: 50px;
    cursor: pointer;
  }