<div class="container">
  <div class="ladoEsquerdo">
    <div class="containerNavBar">
      <nav class="containerNav">
        <a href=""><p class="navTitulo">FF</p></a>
        <ol class="listContainer">
          <li>
            <a href=""><i class="ph-light ph-house icons"></i></a>
          </li>
          <li>
            <a href=""><i class="ph-light ph-barbell icons"></i></a>
          </li>
          <li>
            <a href=""><i class="ph-light ph-person-simple-run icons"></i></a>
          </li>
          <li>
            <a href=""><i class="ph-light ph-users icons"></i></a>
          </li>
        </ol>
        <a href="">
          <div class="iconPerfil">
            <i class="ph-light ph-identification-badge perfilIcon"></i>
          </div>
        </a>
      </nav>
    </div>
  </div>
  <div class="ladoDireito">
    <div class="containerDireito">
      <div class="tituloContainer">
        <div class="titulo">
          <p>Bem-vindo ao FitFusion</p>
        </div>
      </div>
      <div class="cardsUm">
       <app-CardPerfil></app-CardPerfil>
      </div>
      <div class="cardsDois">
        
      </div>
    </div>
  </div>
</div>
