<div class="container">
  <div class="ladoEsquerdo">
    <i class="ph-light ph-sign-out iconLogout" (click)="logout()"></i>
    <app-NavBar></app-NavBar>
  </div>
  <div class="ladoDireito">
    <div class="containerDireito">
      <div class="tituloContainer">
        <div class="titulo">
          <p>Bem-vindo ao FitFusion</p>
        </div>
      </div>
      <div class="cardsUm">
        <div class="cardNoticias">
          <app-CardNoticias></app-CardNoticias>
        </div>

        <div class="cardPerfil">
          <app-CardPerfil></app-CardPerfil>
        </div>
      </div>
      <div class="cardsDois">
        <app-Card emoji="barbell" titulo="Meus Treinos"></app-Card>
        <app-Card
          emoji="person-simple-bike"
          titulo="Meus Exercícios"
        ></app-Card>
        <app-Card emoji="users" titulo="Meus Alunos"></app-Card>
      </div>
    </div>
  </div>
</div>
